In [59]:
import pandas as pd
import numpy as np
#Question 1
#What's the version of Pandas that you installed?
pd.__version__

'1.0.1'

In [2]:
df = pd.read_csv("laptop.csv")
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [3]:
#How many columns are in the dataset?
#Question 2
df.shape

(2160, 12)

In [4]:
#Question 3 ---How many laptop brands are presented in the dataset?
df.Brand.nunique()

27

In [12]:
#Question 4 ---How many columns in the dataset have missing values?
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [25]:
#Question 5 --What's the maximum final price of Dell notebooks in the dataset?
df.groupby('Brand')['Final Price'].max()
# maximum final price of Dell notebooks in the dataset ---3936.00

Brand
Acer                3691.00
Alurin               869.00
Apple               3849.00
Asus                5758.14
Deep Gaming         1639.01
Dell                3936.00
Denver               329.95
Dynabook Toshiba    1805.01
Gigabyte            3799.00
HP                  5368.77
Innjoo               431.38
Jetwing              469.27
LG                  2399.00
Lenovo              5018.14
MSI                 7150.47
Medion              3799.00
Microsoft           3747.91
Millenium           2312.71
PcCom               1949.90
Primux               599.41
Prixton              329.95
Razer               4999.01
Realme               999.00
Samsung             3699.01
Thomson              436.56
Toshiba              799.00
Vant                1217.01
Name: Final Price, dtype: float64

In [28]:
#Question 6 -->Find the median value of Screen column in the dataset.
df.Screen.median()

15.6

In [38]:
#Question 6 -->Next, calculate the most frequent value of the same Screen column
df.Screen.mode()

0    15.6
dtype: float64

In [34]:
#Question 6 -->Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#df.Screen.isnull().sum()
df['Screen'].fillna(df['Screen'].mode()[0], inplace=True)

In [35]:
df.Screen.isnull().sum()

0

In [36]:
#Question 6 --Now, calculate the median value of Screen once again.has it changed....NO
df.Screen.median()

15.6

In [39]:
#Select all the "Innjoo" laptops from the dataset.
#Select only columns RAM, Storage, Screen.
#Get the underlying NumPy array. Let's call it X.
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#Compute the inverse of XTX.
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#What's the sum of all the elements of the result?

In [47]:
df.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [48]:
df1 = df[df['Brand']=='Innjoo']

In [52]:
df2 = df1[['RAM','Storage','Screen']]

In [55]:
selected_columns = df2.columns
print(selected_columns)

Index(['RAM', 'Storage', 'Screen'], dtype='object')

In [56]:
X = df2[['RAM', 'Storage', 'Screen']].to_numpy()

In [57]:
print(X)

[[  8.  256.   15.6]
 [  8.  512.   15.6]
 [  4.   64.   14.1]
 [  6.   64.   14.1]
 [  6.  128.   14.1]
 [  6.  128.   14.1]]

In [60]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

XTX = X.T @ X

In [62]:
#Compute the inverse of XTX.
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 2.78025381e-01 -1.51791334e-03 -1.00809855e-01]
 [-1.51791334e-03  1.58286725e-05  4.48052175e-04]
 [-1.00809855e-01  4.48052175e-04  3.87214888e-02]]

In [63]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y
w = XTX_inv @ X.T @ y
#Compute the sum of all elements in the result w
result_sum = np.sum(w)

In [64]:
print(result_sum)

91.29988062995815